.menu-icon {
  height: 40px;
  width: 40px;
  float: left;
}

.navigation-bar {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: distribute-evenly;
  align-items: center;
}

mat-nav-list.list-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 2px;

  .mat-list-item {
    align-items: center;
    text-align: left;
    border-right: ridge;
    border-color: #FFCC00;
    border-right-width: 5px;

    padding: 0px;
  }
}
