<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div>
                <navbar-component></navbar-component>
                <div class="container">
                    <div class="col-xs-6">
                        <app-generate-test-data *ngIf="getSelectedComponent().toString() === 'Generate Test Data'">
                        </app-generate-test-data>
                        <app-parse-jira-data *ngIf="getSelectedComponent().toString() === 'Parse Pulled Data'">
                        </app-parse-jira-data>
                    </div>
                </div>
                <div>
                    <app-warning></app-warning>
                    <app-error></app-error>
                </div>
            </div>
        </div>
    </div>
</div>