<app-event></app-event>
<!--
<button label="Previous" (click)="getPreviousTribe()">Previous Tribe</button>
<button label="Next" (click)="getNextTribe()">Next Tribe</button>


<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="icon-and-text page-title">
                <app-clickableicon [icon]="getTribeIcon()"></app-clickableicon>
                <h1>
                    <app-titleandsubtitle [data]="getTribeNameAndType()">
                    </app-titleandsubtitle>
                </h1>
            </div>
        </div>
    </div>

    <app-threesummarycardwithaddandeditcontent
        [addAndEditButtons]="getLeftAndRightEditButtons()"
        [summaryCards]="getSummaryCards()">
    </app-threesummarycardwithaddandeditcontent>
</div>
-->