<div>
    <h2>Mission</h2>
    BDSM University (#BDSM-U) is university themed IRC chatroom dedicated to the education about and promotion of BDSM
    online, and in the real world.

    <h2>University Structure</h2>
    The university achieves its goals through a framework of classes taught by university faculty (and the occasional
    teaching assistant) designed to expose students to BDSM practices and values, and through virtual interaction, to
    demonstrate and practice the skills learned.
    <h2>Degrees and Matriculation</h2>
    The university awards degrees in various disciplines, and both students and faculty are encouraged to develop both
    broad based and deep knowledge of the subjects nearest and dearest to their hearts. As students take and pass
    classes, they matriculate from a prospective student through their freshman, sophomore, junior, and senior years.
    Seniors are then eligible to be awarded degrees and honors from the faculty, and may qualify as teaching assistants
    within their areas of expertise.
    <h2>Social Life</h2>
    Though the university is a serious academic institution, the faculty realizes that learning doesn't start and stop
    as students pass through the classroom doors. Fraternities and sororities provide a much-needed outlet for students
    to relax in the company of their peers, and host parties and events designed to raise money, and to help the
    community.
    <h2>Faculty</h2>
    Faculty start their academic careers as associate professors, and through class instruction, class creation, and
    interaction with students, are promoted to full professor, tenured professor, and a select few qualify for a
    department chairmanship.
    <h2>Financial Aid</h2>
    Unlike traditional universities, students earn money through the successful completion of classes, helping to host
    parties, and a host of other community service practices. Students may use their hard-earned cash to purchase items
    at the school store, to rent and decorate dorm rooms, and even to participate in some of the student body auctions
    that the school hosts from time to time. Sororities and fraternities typically also collect dues, and delinquent
    students may be severly punished by their peers for not contributing to the brother or sisterhood.
    <h2>Applications and Enrollment</h2>
    <h3>Students</h3>
    All that is required to become a prospective student is to visit the #BDSM-U channel on the IRC server of your
    choice. Once there, the admissions office will be happy to walk you through your application. Once complete, your
    academic journey begins.
    <h3>Faculty</h3>
    Faculty are encouraged to submit their Curriculum Vitae with the office of human resources, and to begin their
    careers as associate professors.
</div>