/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
* {
    box-sizing: border-box;
}

.left {
    float: left;
    width: 20%;
}

.middle {
    float: left;
    width: 60%;
    padding: 0 20px;
}

.right {
    float: left;
    width: 20%;
}


body {
	font-family: 'Rubik', serif;	
	font-size: 12pt;
	color: darkgrey;
	background-color: black;
}
td {
	margin: 10px;
	background-color: black;
}
th {
	margin: 10px;
	background-color: black;
}
h1 {
	font-family: 'Henny Penny', cursive;
	font-weight: bold;
	font-size: 200%;
	color: #ff0000;
}
h2 {
	font-family: 'Henny Penny', cursive;
	font-weight: normal;
	font-size: 150%;
	color: #990000;
}
h3 {
	font-family: 'Henny Penny', cursive;
	font-weight: bold;
	font-size: 120%;
	color: white;
}
.left, .right {
    text-align: center;
}

h4 {
	font-family: 'Henny Penny', cursive;
	font-weight: bold;
	font-size: 120%;
	color: #666666;
	font-style: italic;
}
b, code {
    color: lightgray;
}
input[type="text"], input[type="password"] {
    font-size: 120%;
}
input[type="button"], input[type="submit"] {
    font-family: 'Henny Penny', cursive;
    font-weight: bold;
    border-right: #cccccc 1px solid;
    border-top: #cccccc 1px solid;
    border-left: #cccccc 1px solid;
    border-bottom: #cccccc 1px solid;
}
.selected {
    background-color: yellow;
}
th {
	font-weight: bold;
}
a:link {
	color: paleturquoise; text-decoration: none;
}
a:visited {
	color: paleturquoise; text-decoration: none
}
a:hover {
	text-decoration: underline;
}

iframe {
	width: 800px;
	height: 600px;
}

.code {
	color: gray;
	font-family: 'Consolas', monospace;
}

.submenu {
    width: 100%;
    margin: 2px;
}

#modalContainer, #bigPicContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}

#modalFrame {
    background-color: black;
    position: fixed;
    top: 50%;
    left: 50%;
    max-height: 80%;
    width: 80%;
    margin: 0 auto;
    transform: translate(-50%, -50%);
    padding: 20px;
}

#bigPic {
    position: fixed;
    top: 50%;
    left: 50%;
    max-height: 96%;
    max-width: 96%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.emph {
	font-weight: bold;
	color: white;
}

#middle_crest {
    display: none;
}

#crest {
    position: absolute;
    top: 0;
    left: 78vw;
    z-index: 3;
}

#searchNick {
	background-color: darkgray; 
	max-width: 18vw;
}

@media only screen and (max-width:620px) {
    /* For mobile phones: */
    .left, .middle, .right {
        width: 100%;
    }

    .hide_when_narrow {
        display: none;
    }

    #middle_crest {
        display: initial;
    }

    #searchNick {
		background-color: darkgray; 
		max-width: 90vw;
    }

    /* For Submenus (normally in "left" column), hide the Heading and let the buttons revert to auto width */
    .left h3 {
        display: none;
    }
    .submenu {
        width: unset;
    }

}