<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><img src="/assets/JiraSquare.png" class="img-responsive" style="max-height: 25px"
            hspace="10">Jira
        Manager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#" (click)="clearSelectedOperation()">Home <span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle show" href="#" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="toggleShowDropdown()">
                    Management Options
                </a>
                <div class="dropdown-menu" [ngClass]="{'show': isShowDropdown}" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#" (click)="setSelectedOperation($event); toggleShowDropdown()">Parse
                        Pulled
                        Data</a>
                    <a class="dropdown-item" href="#"
                        (click)="setSelectedOperation($event); toggleShowDropdown()">Generate Test
                        Data</a>
                    <a class="dropdown-item" href="#" (click)="setSelectedOperation($event); toggleShowDropdown()">Get
                        Issue History
                        by Key</a>
                    <a class="dropdown-item" href="#"
                        (click)="setSelectedOperation($event); toggleShowDropdown()">Manually
                        Pull Jira
                        Issue</a>
                    <div class="dropdown-divider"></div>
                </div>
            </li>
        </ul>
    </div>
</nav>